<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>dsc_extractor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>dyld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>dyld_shared_cache_builder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>dyld_shared_cache_util.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>dyld_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>libdsc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libdyld.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libdyld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>multi_dyld_shared_cache_builder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>nocr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>update_dyld_shared_cache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>update_dyld_shared_cache_tool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3703A1111B38C1B300ADBA7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377685F21AC4B27D00026E6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37A0AD0A1C15FFF500731E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F908134211D3ED0B00626CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F93937310A94FAF700070A07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F97FF3551C23638F000ACDD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F99B8E550FEC10F600701838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9D1001114D8D0BA00099D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9ED4C920630A73900DF4E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9ED4C970630A76000DF4E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9ED4C9E0630A76B00DF4E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9F2A5580F7AEE9800B7C9EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9F6F4271C1FB0A700BD8FED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
