<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>net.whatsapp.WhatsApp</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>whatsapp</string>
        </array>
      </dict>
    </array>
    <key>NSContactsUsageDescription</key>
    <string>‎Upload your contacts to WhatsApp's servers to help you quickly get in touch with your friends and help us provide a better experience.</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiredDeviceCapabilities</key>
    <dict>
      <key>telephony</key>
      <true/>
    </dict>
    <key>DTPlatformVersion</key>
    <string>10.3</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>INSendMessageIntent</string>
      <string>INSearchForMessagesIntent</string>
      <string>INStartAudioCallIntent</string>
      <string>INStartVideoCallIntent</string>
    </array>
    <key>CFBundleName</key>
    <string>WhatsApp</string>
    <key>DTSDKName</key>
    <string>iphoneos10.3</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>‎This lets you send photos and videos from your library and save the ones you capture.</string>
    <key>NSRemindersUsageDescription</key>
    <string>‎This lets you set reminders to call your friends back.</string>
    <key>UIViewGroupOpacity</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>‎This lets you send your current location or nearby places in chats.</string>
    <key>CFBundleDisplayName</key>
    <string>WhatsApp</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>here-route</string>
      <string>here-location</string>
      <string>googlegmail</string>
      <string>ms-outlook</string>
      <string>inbox-gmail</string>
      <string>comgooglemaps</string>
      <string>yandexmaps</string>
      <string>waze</string>
      <string>googlechrome</string>
      <string>googlechromes</string>
      <string>googlechrome-x-callback</string>
      <string>yandexnavi</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>‎This lets you send your current location or nearby places in chats.</string>
    <key>UIRequiresPersistentWiFi</key>
    <true/>
    <key>UIStatusBarTintParameters</key>
    <dict>
      <key>UINavigationBar</key>
      <dict>
        <key>Style</key>
        <string>UIBarStyleDefault</string>
        <key>Translucent</key>
        <false/>
      </dict>
    </dict>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>remote-notification</string>
      <string>voip</string>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>WhatsApp Image</string>
        <key>CFBundleTypeIconFiles</key>
        <array>
          <string>Icon</string>
          <string>Icon@2x</string>
        </array>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.image</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>WhatsApp Image Exclusive</string>
        <key>CFBundleTypeIconFiles</key>
        <array>
          <string>Icon</string>
          <string>Icon@2x</string>
        </array>
        <key>LSItemContentTypes</key>
        <array>
          <string>net.whatsapp.image</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>WhatsApp Audio</string>
        <key>CFBundleTypeIconFiles</key>
        <array>
          <string>Icon</string>
          <string>Icon@2x</string>
        </array>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.mp3</string>
          <string>public.mpeg-4-audio</string>
          <string>public.aif-audio</string>
          <string>public.aifc-audio</string>
          <string>com.apple.coreaudio-format</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>WhatsApp Audio Exclusive</string>
        <key>CFBundleTypeIconFiles</key>
        <array>
          <string>Icon</string>
          <string>Icon@2x</string>
        </array>
        <key>LSItemContentTypes</key>
        <array>
          <string>net.whatsapp.audio</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>WhatsApp Movie</string>
        <key>CFBundleTypeIconFiles</key>
        <array>
          <string>Icon</string>
          <string>Icon@2x</string>
        </array>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>WhatsApp Movie Exclusive</string>
        <key>CFBundleTypeIconFiles</key>
        <array>
          <string>Icon</string>
          <string>Icon@2x</string>
        </array>
        <key>LSItemContentTypes</key>
        <array>
          <string>net.whatsapp.movie</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
    </array>
    <key>DTSDKBuild</key>
    <string>14E8301</string>
    <key>NSCameraUsageDescription</key>
    <string>‎This lets you take photos and videos right from within WhatsApp.</string>
    <key>CFBundleShortVersionString</key>
    <string>2.17.52</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>‎This lets you send your current location or nearby places in chats.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>16G29</string>
    <key>DTPlatformBuild</key>
    <string>14E8301</string>
    <key>AVUseSoftwareDecoderForAssetImageGenerator</key>
    <true/>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>CFBundleVersion</key>
    <string>2.17.52.40</string>
    <key>DTXcodeBuild</key>
    <string>8E3004b</string>
    <key>UIAppFonts</key>
    <array>
      <string>WhatsAppIcons.otf</string>
      <string>Oswald-Heavy.ttf</string>
      <string>Bryndan-Write.ttf</string>
      <string>Norican-Regular.ttf</string>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>net.whatsapp.image</string>
        <key>UTTypeDescription</key>
        <string>WhatsApp Image Exclusive</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>image/*</string>
          <key>public.filename-extension</key>
          <string>wai</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>net.whatsapp.audio</string>
        <key>UTTypeDescription</key>
        <string>WhatsApp Audio Exclusive</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>audio/*</string>
          <key>public.filename-extension</key>
          <string>waa</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>net.whatsapp.movie</string>
        <key>UTTypeDescription</key>
        <string>WhatsApp Movie Exclusive</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>video/*</string>
          <key>public.filename-extension</key>
          <string>wam</string>
        </dict>
      </dict>
    </array>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>‎This lets you make calls, send Voice Messages, and record videos with sound.</string>
    <key>CFBundleIdentifier</key>
    <string>net.whatsapp.WhatsApp</string>
    <key>DTXcode</key>
    <string>0833</string>
    <key>NSSiriUsageDescription</key>
    <string>‎This lets you use Siri to quickly send and read messages and make calls.</string>
    <key>NSLocationUsageDescription</key>
    <string>‎This lets you send your current location or nearby places in chats.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>‎This lets you create events on your calendar.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>WhatsApp</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
