<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>SCGroupIdentifier</key>
    <string>group.snapchat.picaboo</string>
    <key>DTPlatformVersion</key>
    <string>10.1</string>
    <key>HOCKEYAPP_IDENTIFIER</key>
    <string></string>
    <key>DTSDKBuild</key>
    <string>14B72</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Use your camera to take Snaps, video chat, add friends by Snapcode, and more.</string>
    <key>CFBundleDisplayName</key>
    <string>Snapchat</string>
    <key>DTXcodeBuild</key>
    <string>8B62</string>
    <key>CFBundleIdentifier</key>
    <string>com.toyopagroup.picaboo</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.photography</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>google</string>
      <string>youtube</string>
      <string>waze</string>
      <string>comgooglemaps</string>
      <string>otpauth</string>
      <string>imoji</string>
      <string>citymapper</string>
      <string>uber</string>
      <string>lyft</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSMotionUsageDescription</key>
    <string>Snapchat records if your device was vertical or horizontal when you take Snaps, use Lenses, read Discover, and watch ads.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Snapchat needs to know about devices connected to your phone to tailor your experience across them.</string>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>CFBundleName</key>
    <string>Snapchat</string>
    <key>CFBundleShortVersionString</key>
    <string>10.3.0</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>bluetooth-central</string>
      <string>external-accessory</string>
      <string>remote-notification</string>
      <string>voip</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>still-camera</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>mod20.ttf</string>
      <string>din-black.otf</string>
      <string>Alternate-Got-No3D.otf</string>
      <string>Futura-PT-Heavy.otf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>Snapchat</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>GIT_COMMIT</key>
    <string></string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>CRITTERCISM_IDENTIFIER</key>
    <string>5364372e1787844e2f000007</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>BuildMachineOSBuild</key>
    <string>15G31</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Use your microphone to record audio for Snaps, video chat, and more.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Snapchat uses this to customize your experience and let you discover filters, stories, and more around you.</string>
    <key>CFBundleVersion</key>
    <string>10.3.0.1</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.toyopagroup.picaboo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>snapchat</string>
          <string>ha</string>
          <string>snapchat</string>
        </array>
      </dict>
    </array>
    <key>LAGUNA_HOCKEYAPP_IDENTIFIER</key>
    <string>6b4ca8e559dd49acbf3692b5482458e0</string>
    <key>SCKeychainAccessIdentifier</key>
    <string>3MY7A92V5W.com.toyopagroup.picaboo</string>
    <key>DTSDKName</key>
    <string>iphoneos10.1</string>
    <key>UISupportedExternalAccessoryProtocols</key>
    <array>
      <string>com.snapchat</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>feelinsonice-hrd.appspot.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <true/>
        </dict>
        <key>sc-analytics.appspot.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <true/>
        </dict>
        <key>geofilter.storage.googleapis.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <true/>
        </dict>
        <key>app.snapchat.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSContactsUsageDescription</key>
    <string>The contacts in your address book will be collected by Snapchat.</string>
    <key>DTPlatformBuild</key>
    <string>14B72</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Save Snaps you take to your Camera Roll, send photos and videos in Chat, and more.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>DEEP_LINK_SCHEME</key>
    <string>snapchat</string>
    <key>DTXcode</key>
    <string>0810</string>
  </dict>
</plist>
