<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/Snapchat.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>Frameworks/Cronet.framework/SC_Info/Cronet.sinf</string>
		<string>PlugIns/SnapchatNotesServiceExt.appex/SC_Info/SnapchatNotesServiceExt.sinf</string>
		<string>PlugIns/SnapchatShareExt.appex/SC_Info/SnapchatShareExt.sinf</string>
		<string>SC_Info/Snapchat.sinf</string>
	</array>
</dict>
</plist>
